@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .logoipsum-slider figure {
    padding: 30px 18px;
  }

  .team-img {
    min-width: 277px;
  }

  .service-card a svg {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .team-img {
    min-width: 230px;
  }

  .header-card {
    flex-wrap: wrap;
  }

  .experience_mask figure img {
    width: 440px;
  }

  .service-card a svg {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .pricing-hr {
    rotate: 0deg;
    margin: 0 20px;
    width: 200px;
  }

  .accordion-button {
    font-size: 12.5px;
  }
}

@media screen and (max-width: 768px), screen and (max-width: 960px) {
  /* global style */
  h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 66px;
  }

  h2 {
    font-size: 34px;
    font-weight: 800;
    line-height: 48px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 14px 30px;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 14px 30px !important;
  }

  /* ============================================================= */
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 925px;
  }

  .feature .flex {
    flex-wrap: wrap;
  }

  .hero-social-icon hr {
    display: none;
  }
  .header-card {
    width: 50%;
  }

  .header-card:nth-child(3),
  .header-card:nth-child(4) {
    margin: 15px 0 0 0;
  }

  .feature h4 {
    width: 100%;
    margin: 19px 0 15px 0;
  }

  .service-card a svg {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

  .work-line div:nth-child(2) {
    left: 120px;
  }

  .work-line div:nth-child(3) {
    right: 120px;
  }
  .work-line div:last-child {
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 757px;
  }

  .hero {
    padding: 110px 0 279px 0;
  }

  .hero-social-icon hr {
    display: none;
  }

  .hero-social-icon a:nth-child(1) {
    top: 150px;
  }
  .hero-social-icon a:nth-child(2) {
    top: 200px;
  }

  .hero-social-icon a:nth-child(3) {
    top: 250px;
  }

  .ab-feature {
    padding: 10px 0 60px 0;
  }

  .logoipsum {
    padding: 100px 0;
  }

  .logoipsum .hr1 {
    width: 80px;
    margin: 0 auto 33px auto;
  }

  .logoipsum .hr2 {
    width: 80px;
    margin: 33px auto 0 auto;
  }

  .logoipsum-slider {
    margin-top: 12px;
  }

  .logoipsum img {
    width: 150px;
  }

  .about {
    padding: 70px 0;
  }

  .ab-count {
    width: 155px;
    height: 155px;
  }

  .ab-count h5 {
    width: 110px;
  }

  .portfolio-1 {
    padding: 70px 0;
  }

  .gallary {
    padding-bottom: 70px;
  }

  .tab button {
    padding: 11px 19px;
  }

  .gallary img {
    height: 300px;
  }

  .gallary img[alt="sm_img"] {
    height: 150px;
  }

  .gallary .container {
    margin-top: -355px;
  }

  .service-1 {
    padding: 70px 0;
  }

  .service-1 .flex-column {
    flex-wrap: wrap;
  }

  .service-card {
    width: 48%;
  }

  .service-1 .s-card {
    flex-wrap: wrap;
  }

  .service-card img[alt="slider1"] {
    width: 85px;
  }

  .service-card img[alt="slider2"] {
    width: 62px;
  }

  .service-card img[alt="slider3"] {
    width: 52px;
  }

  .service-card a svg {
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
  }

  .experience {
    padding: 70px 0;
  }

  .ex-card .flex {
    padding: 26px 2px;
  }

  .ex-card p {
    margin-top: 5px;
  }

  .work-line div {
    padding: 33px 8px 32px 29px;
  }

  .work {
    padding: 70px 0;
  }

  .work-para {
    padding: 0 95px;
  }

  .work-hr {
    display: none;
  }
  .work-line div:first-child {
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
  }

  .work-line div:nth-child(2) {
    left: 100px;
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
  }
  .work-line div:nth-child(3) {
    right: 100px;
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
  }
  .work-line div:last-child {
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
  }

  .testimonial {
    padding: 120px 0 70px 0;
  }

  .team {
    padding: 70px 0 0 0;
  }

  #team {
    padding: 70px 0;
  }

  .team-btn {
    margin-top: 70px;
  }

  .team h2 {
    padding: 0 0 0 0;
  }

  .team p {
    padding: 0 0 0 0;
  }

  .team-img {
    min-width: 232px;
    object-position: center;
    background-repeat: no-repeat;
  }

  .pricing {
    padding: 70px 0;
  }

  #pricing {
    padding: 70px 0;
  }

  .pricing {
    display: none !important;
  }

  .faq {
    padding: 70px 0;
  }

  #faq {
    padding: 70px 0;
  }

  .faq .text-center h2 {
    padding: 0 10px 0 0;
  }

  .faq .text-center p {
    padding: 0 10px 0 0;
  }

  .blog {
    padding: 70px 0;
  }

  .footer-hr p {
    padding: 0 30px;
  }

  .service-page {
    padding: 70px 0 50px 0;
  }

  /* Contact.html */

  .contact form {
    padding: 40px 45px;
  }

  .contact-address hr {
    display: none;
  }

  .flex-sb {
    flex-wrap: wrap;
  }

  .w-50 {
    width: 100%;
  }

  .about-imgs {
    margin-top: 50px;
  }

  #footer-form {
    overflow: hidden;
    width: 100%;
    justify-content: center;
  }

  #footer-form input {
    width: 100%;
    padding: 30px;
  }

  #footer-form button {
    width: 100%;
  }

  .blog p {
    padding: 0;
  }
}

@media screen and (max-width: 630px) {
  .header-card {
    width: 100%;
    margin: 10px 0;
  }

  .hero .center-data h1 {
    text-align: center;
  }

  .gallary .w-33,
  .gallary .w-66 {
    width: 100%;
  }

  .porto-center {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .porto-center .gap-1,
  .service-data .gap-1,
  .exp-center .gap-1,
  .blog-center .gap-1,
  .team-center .gap-1 {
    justify-content: center !important;
    flex-wrap: wrap !important;
  }

  .porto-center .w-50,
  .porto-center .w-100,
  .service-data .w-66,
  .service-data .w-33,
  .exp-center .w-66,
  .exp-center .w-33,
  .blog-center .w-66,
  .blog-center .w-33,
  .team-center .w-66,
  .team-center .w-33 {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center !important;
    justify-content: center !important;
  }

  .team-center {
    flex-wrap: wrap;
  }

  .blog-center {
    flex-wrap: wrap;
  }

  .blog-cards {
    flex-wrap: wrap;
  }

  .blog-card {
    flex: none !important;
    width: 100%;
  }

  .porto-center .w-100 {
    margin-top: 1rem;
  }

  .portfolio-1 p {
    padding: 0;
  }

  .experience p {
    padding: 10px;
  }

  .service-data .w-66 p {
    padding: 10px;
  }

  .service-data .w-33 a.btn_hover2 {
    margin-bottom: 20px;
  }

  .service-card {
    width: 100%;
  }

  .work-para {
    padding: 0 10px;
  }

  .work-line {
    background-image: none;
  }

  .work-line div {
    position: relative;
    padding: 0;
    text-align: center;
  }

  .work-line h4 {
    padding: 0 17px;
  }

  .work-line div:first-child {
    top: 20px;
    left: -10px;
  }

  .work-line div:nth-child(2) {
    top: 20px;
    left: 20px;
  }

  .work-line div:nth-child(3) {
    top: 20px;
    left: -10px;
  }

  .work-line div:last-child {
    top: 20px;
    left: 20px;
  }

  .work-line {
    margin: 25px 25px 53px 25px;
  }

  .work-line div {
    width: 170px !important;
    min-height: 170px;
  }

  .pricing-card {
    flex-wrap: wrap;
  }

  .pricing p {
    padding: 0 10px;
  }

  .pricing-card div :nth-child(2) {
    transform: scale(1);
  }

  .pricing-card {
    align-items: center;
  }

  .blog p {
    padding: 0;
  }

  .footer-menu .flex-start {
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;
  }

  .footer-center .w-16,
  .footer-center .w-33 {
    width: 100% !important;
    max-width: 100% !important;
  }

  .footer-menu p {
    text-align: center;
    padding: 0;
  }

  .footer.menu a {
    text-align: center;
  }

  .footer-menu h4 {
    text-align: center;
  }

  .team-img {
    width: 100px;
  }

  #search-bar form {
    width: 90%;
  }
}

/* Global Style */

@media screen and (max-width: 500px) {
  /* global */
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px !important;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 44px 0 82px 0;
  }

  .footer-menu span a:first-child {
    bottom: -40px;
    left: 30%;
  }

  .footer-menu span a:nth-child(2) {
    bottom: -40px;
    left: 50%;
  }

  .footer-menu span a:last-child {
    bottom: -40px;
    left: 70%;
  }

  /* global */

  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px !important;
  }
}
